@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.prose h1 {
  @apply text-heading-1 font-heading;
}

.prose h2 {
  @apply text-heading-2 font-heading;
}

.prose h3 {
  @apply text-heading-3 font-heading;
}

.prose iframe {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 1024px) { /* Large screens and up */
  .prose iframe {
      height: 430px; /* Set height for large screens */
      max-width: 100%;
      width: 720px;
  }
}

/* Ensure list styles are applied */
.tiptap ol {
  list-style-type: decimal; /* Use decimal numbering for ordered lists */
  margin-left: 2rem; /* Add margin to align the numbers */
  padding-left: 1rem; /* Add padding for better spacing */
}

/* Optional: Ensure bullet points for unordered lists */
.tiptap ul {
  list-style-type: disc; /* Use bullet points for unordered lists */
  margin-left: 2rem; /* Add margin to align the bullets */
  padding-left: 1rem; /* Add padding for better spacing */
}

/* List item padding and margin */
.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.prose p:empty {
  min-height: 1em; /* Adjust this value as needed */
}

p {
  overflow-wrap: break-word; /* Ensure that long words break and wrap */
}

.prose {
  overflow-wrap: break-word; /* Ensures long words break and prevent overflow */
  max-width: 100%; /* Ensures the content does not exceed container width */
}


.max-w-full {
  max-width: 100%; /* Ensure the element does not exceed the container width */
}

.tiptap a {
  color: #3423cb;
  cursor: pointer;
}

.tiptap a:hover {
  color: #5644fc;
}

/* Hide scrollbar for all browsers */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
